@import './colors.scss';

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0rem;
    z-index: 10;
    // background-color: #fff;

    .sns_list {
        position: fixed;
        bottom: 4rem;
        left: 4rem;
        .sns_item {
            padding-top: 2rem;
            a {
                display: block;
                width: 2.4rem;
                height: 2.4rem;
                font-size: 1.2rem;
                color: $dark;
                // border-radius: 50%;
                // background-color: $dark;
            }
            a:hover {
                opacity: 0.7;
            }
            .sns_github {
                background-image: url('../assets/icon_github.svg');
                background-size: cover;
            }
            .sns_linkedin {
                background-image: url('../assets/icon_linkedin.svg');
                background-size: cover;
            }
            .sns_email {
                background-image: url('../assets/icon_mail.svg');
                background-size: cover;
            }
        }
    }
}

