@import './colors.scss';

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    grid-column: col / 13;
    grid-row: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    padding: 0 2.5%;
    z-index: 10;
    background-color: #fff;
}

.sns_list {
    position: absolute;
    bottom: 2.5rem;
    left: 2.5rem;
    border: 1px solid blue;
    .sns_item {
        margin-top: 1rem;
        border: 1px solid red;
        a {
            display: block;
            width: 4rem;
            height: 4rem;
            font-size: 1.6rem;
            color: $dark;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}