@charset "utf-8";
@import "reset.css";
@import "style.css";

/* blind */
.blind {clip:rect(0,0,0,0); overflow:hidden; position:absolute; display:block; width:1px; height:1px;margin:-1px;padding:0;border:0; font-size:1px; line-height:0}

/* skip Menu */
.skip_menu a {display:block;height:1px;width:1px;margin:0 -1px -1px 0;padding:0;overflow:hidden;font-size:1px;line-height:0}
.skip_menu a:active,
.skip_menu a:focus,
.skip_menu a:hover {width:100%;height:auto;margin:0;padding:5px 0;text-indent:10px;font-weight:700;font-size:13px;color:#333;line-height:1;text-decoration:none}

/* 오버시 언더라인 */
a:hover {text-decoration:underline}

/* header */
.header {position:relative; min-width:1140px}
.header .h_top {width:1140px; height:70px; margin:0 auto; padding:0 20px; background-color:#fff}
.header .h_top:after {content:''; clear:both; display:block}
.header .h_top .h_logo {float:left; margin-top:24px}
.header .h_top .h_logo a {display:block}
.header .h_top .h_utility {float:right; margin-top:32px}
.header .h_top .h_utility:after {content:''; clear:both; display:block}
.header .h_top .h_utility li{float:left; margin-left:30px}
.header .h_top .h_utility li:first-child {margin-left:0}
.header .h_top .h_utility li a{display:block; font-size:15px; color:#222; letter-spacing:-0.075em}
.header .h_bottom {background-color:#ff4200}
.header .h_bottom .gnb {width:1140px; margin:0 auto; text-align:center}
.header .h_bottom .gnb .gnb_list {display:table; width:100%; padding:10px 70px; table-layout:fixed}
.header .h_bottom .gnb .gnb_list:after {content:''; clear:both; display:block}
.header .h_bottom .gnb .gnb_list li {display:table-cell; width:100%; text-align:center}
.header .h_bottom .gnb .gnb_list li a {display:inline-block; padding:7px 15px; font-size:20px; font-weight:700; color:#fff; letter-spacing:-0.075em}
.header .h_bottom .gnb .gnb_list li.active a {color:#ff4200; border-radius:3px; background-color:#fff}

/* footer */
.footer {width:1140px; height:100px; margin:0 auto; margin-top:100px; margin-bottom:40px; text-align:center}
.footer .fnb {display:inline-block}
.footer .fnb:after {content:''; clear:both; display:block}
.footer .fnb li {position:relative; float:left; padding:0 7px}
.footer .fnb li+li:before {content:''; position:absolute; left:0; top:50%; width:1px; height:14px; transform:translateY(-50%); background-color:#777}
.footer .fnb li a {font-size:14px; font-weight:300; color:#777}
.footer .fnb li a .emp {font-weight:500}
.footer .copyright {display:block; margin-top:25px; font-size:14px; font-weight:400; color:#777}

/* top버튼 */
.btn_top {position:fixed; bottom:60px; right:100px; width:33px; height:33px}

/* layout */
.wrap {position:relative}
.container {position:relative; min-width:1140px}
.contents {width:1140px; min-height:700px; margin:0 auto; padding:60px 20px 100px 20px}

/* layout */
.contents:after {content:''; clear:both; display:block}
.con_left {float:left; width:247px}
.con_left .lnb li.active a {font-weight:700; color:#ff4200}
.con_left .lnb li a {display:block; min-height:40px; line-height:1.3em; padding:8px 0; font-size:18px; color:#222}
.con_right {float:right; width:815px}

/* 타이틀 */
.con_tit_wrap {width:100%; padding-bottom:25px; text-align:left}
.con_tit_wrap:after {content:''; clear:both; display:block}
.con_tit_wrap.border {margin-bottom:20px; border-bottom:1px solid #ddd}
.con_tit_wrap .tit {float:left; line-height:38px; font-size:32px; font-weight:300; color:#ff4200; letter-spacing:-0.075em}
.con_tit_wrap .tit.eng {font-family:'Montserrat'}
.con_tit_wrap .tit.black {color:#222}
.page_sub_tit {display:inline-block; line-height:1.2em; font-size:18px; font-weight:700; color:#222}

/* 서브탭 */
.lnb_tab {float:right}
.lnb_tab:after {content:''; clear:both; display:block}
.lnb_tab li {float:left}
.lnb_tab li a {display:block; line-height:38px; padding:0 20px; font-family:'Montserrat'; font-size:24px; font-weight:300; color:#222}
.lnb_tab li.active a {color:#ff4200}

/* ico 탭메뉴 */
.tab_menu {display:block}
.tab_menu .tab_list {display:table; width:100%; text-align:center; table-layout:fixed}
.tab_menu .tab_list:after {content:''; clear:both; display:block}
.tab_menu .tab_list li {display:table-cell; width:100%; height:100%; border: 1px solid #ddd; border-left:0}
.tab_menu .tab_list li:first-child {border-left:1px solid #ddd;}
.tab_menu .tab_list li>.btn_tab {display:block; min-height:50px; line-height:1.3em; padding:20px 0; font-size:17px; color:#222; vertical-align:middle}
.tab_menu .tab_list li.active {border-bottom:0; font-weight:700}
.btn_tab .post_count {display:inline-block; position:relative; margin-left:8px; margin-bottom:6px; padding:3px 6px; line-height:11px; font-size:11px; font-weight:400; color:#fff; letter-spacing:0; background-color:#ff4200}
.btn_tab .post_count:before {content:''; position:absolute; top:30%; left:-3px; width:3px; height:6px; background:url(../../images/w/bg/bg_count.png) no-repeat center}

/* 버튼 */
.btn_round {display:inline-block; position:relative; height:45px; line-height:45px; margin-left:10px; padding:0 50px 0 20px; font-size:17px; color:#fff; border-radius:25px; box-sizing:border-box; background-color:#ff8257}
.btn_round:before {content:""; display:block; position:absolute; top:20px; right:20px; width:11px; height:6px; background:url(../../images/w/bg/bg_arrow_white.png) no-repeat 0 -8px}
.btn_round.active:before {background-position:0 0}
.btn_square {display:inline-block; min-width:90px; height:40px; line-height:40px; text-align:center; font-size:15px; color:#777; border:1px solid #ddd; background-color:#fff}
.btn_square.active {color:#ff4200; border: 1px solid #ff8257; background-color:#fff4ef}
.btn_square+.btn_square {margin-left:8px}
.btn_square.type02 {min-width:150px; padding:0 10px}

.record_wrap {position:relative; min-height:80px; margin-top:30px; padding:12px 180px 20px 20px; border: 1px solid #e3e3e3}
.record_wrap .btn_box {position:absolute; top:50%; right:30px; transform:translateY(-50%)}
.record_wrap .btn_box .btn_search02 {display:inline-block; vertical-align:middle; min-width:115px; height:48px; line-height:48px; padding:0 25px; text-align:center; font-size:19px; font-weight:400; color:#fff; border-radius:3px; background-color:#ff5f28}
.btn_record {display:inline-block; vertical-align:middle; position:relative; min-width:75px; height:40px; line-height:40px; margin-left:8px; margin-top:8px; padding:0 40px 0 12px; font-size:15px; color:#ff8257; border-radius:3px; border:1px solid #ff8257; background-color:#fff}
.btn_record:before {content:''; position:absolute; top:50%; right:12px; width:12px; height:11px; margin-top:-6px; background: url(../../images/w/bg/bg_del2.png) no-repeat center center}

.btn_score {display:inline-block; min-width:80px; min-height:44px; padding:10px 10px; text-align:center; font-family:'Montserrat'; font-size:20px; font-weight:700; letter-spacing:0; color:#fff; border-radius:2px}
.btn_score.bg01 {background-color:#ff4200}
.btn_score.bg02 {background-color:#ff9600}
.btn_score.bg03 {background-color:#77cc48}
.btn_score.bg04 {background-color:#5cc9c0}
.btn_score.bg05 {background-color:#c485cb}

.btn_more {display:inline-block; width:300px; height:60px; line-height:60px; text-indent:115px; text-align:left; font-size:19px; color:#999; border: 1px solid #ddd; background: url(../../images/w/bg/bg_arrow_gray.png) no-repeat 175px 55%}
.btn_go {display:inline-block; height:25px; line-height:23px; padding:0 24px 0 10px; font-size:13px; color:#ff4200; border:1px solid #ff4200; border-radius:25px; background:#fff url(../../images/w/bg/bg_dbarrow.png) no-repeat 90% center}

.btn_sns_dark {display:inline-block; padding-left:34px; font-size:15px; vertical-align:middle; color:#777; background:url(../../images/w/ico/ico_sns.png) no-repeat 0 0}
.btn_sns_dark.homepage_dark {background-position:0 0}
.btn_sns_dark.github_dark {background-position:0 -26px}
.btn_sns_dark.facebook_dark {background-position:0 -52px}
.btn_sns_dark.twitter_dark {background-position:0 -78px}
.btn_sns_dark.telegram_dark {background-position:0 -104px}
.btn_sns_dark.youtube_dark {background-position:0 -130px}

.btn_row {width:100%}
.btn_row.right {text-align:right}
.btn_row.left {text-align:left}
.btn_row.center {text-align:center}
.btn_row:after {content:''; clear:both; display:block}
.btn_row .btn_left {float:left}
.btn_row .btn_right {float:right}
.btn_row .ico_required {margin-right:10px; font-size:15px; color:#ff4200}
.btn_form01 {display:inline-block; min-width:160px; padding:12px 10px; line-height:1.5em; text-align:center; font-size:16px; color:#ff4200; border:1px solid #ff4200; background-color:#fff}
.btn_form01.large {padding:17px 10px; font-size:19px}
.btn_form01.long {min-width:285px}
.btn_form01.active {color:#fff; background-color:#ff4200}
.btn_form01.light {border:1px solid #d3d3d3; background-color:#fff}
.btn_form01.disabled {text-decoration:none; color:#222; border:0; cursor:default; background-color:#ddd}
.btn_form01+.btn_form01 {margin-left:10px}
.btn_form02 {display:inline-block; width:50px; height:50px; line-height:50px; text-align:center; font-size:19px; color:#222; background-color:#ddd}
.btn_form02.plus {background:url(../../images/w/bg/bg_plus.png) no-repeat center #ddd}
.btn_form02.minus {background:url(../../images/w/bg/bg_minus.png) no-repeat center #ddd}

.btn_sns_light {display:block; float:left; width:34px; height:34px; background:url(../../images/w/ico/ico_sns_light.png) no-repeat 0 0}
.btn_sns_light.twitter_light {background-position:0 0}
.btn_sns_light.facebook_light {background-position:-37px 0}
.btn_sns_light.google_light {background-position:-71px 0}
.btn_sns_light.kakaostory_light {background-position:-106px 0}
.btn_sns_light.naver_light {background-position:-139px 0}
.btn_sns_light.naverband_light {background-position:-174px 0}
.btn_sns_light.blog_light {background-position:-207px 0}
.btn_sns_light.linkedin_light {background-position:-240px 0}

.btn_login {display:block; width:289px; height:54px; padding-left:75px; line-height:54px; font-size:17px; color:#fff; background:url(../../images/w/bg/bg_login.png) no-repeat 0 0; background-size:100%}
.btn_login.naver {background-position:0 0}
.btn_login.facebook {background-position:0 -56px}
.btn_login.google {background-position:0 -112px}

.btn_like {display:inline-block; padding:2px 8px; font-size:13px; font-weight:400; color:#777; border:1px solid #d3d3d3; border-radius:2px; background-color:#fff}
.btn_like+.btn_like {margin-left:3px}
.btn_like .num {font-weight:700}
.btn_like.active {color:#ff7d50; border-color:#ff7d50}

.btn_scroll {display:inline-block; padding-right:18px; font-size:15px; color:#777; background:url(../../images/w/bg/bg_arrow.png) no-repeat right -7px}
.chk_row .chk_box.active~.tarea_box {display:block}
.chk_row .chk_box.active>.btn_scroll {background-position:right 6px}

/* 폼 */
input[type=radio], input[type=checkbox] {border:0; clip:rect(0 0 0 0); width:1px; height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute}
.inp_chkbox+label {cursor:pointer; position:relative; display:inline-block; padding-left:30px; font-size:16px; line-height:25px; color:#222}
.inp_chkbox+label:before {content:''; position:absolute; left:0; top:0; display:block; width:26px; height:30px; background:url(../../images/w/bg/bg_chkbox.png) no-repeat -27px top}
.inp_chkbox:checked+label:before {background-position:0 0}

.inp_radio+label {cursor:pointer; position:relative; display:inline-block; padding-left:30px; font-size:16px; line-height:20px; color:#222}
.inp_radio+label:before {content:''; position:absolute; left:0; top:0; display:block; width:21px; height:21px; background:url(../../images/w/bg/bg_radio.png) no-repeat -22px top}
.inp_radio:checked+label:before {background-position:0 0}

.inp_chkbox02+label {cursor:pointer; position:relative; display:inline-block; width:100%; font-size:17px; line-height:25px; color:#222}
.inp_chkbox02+label:before {content:''; position:absolute; right:0; top:0; display:block; width:26px; height:30px; background:url(../../images/w/bg/bg_chkbox.png) no-repeat -27px top}
.inp_chkbox02:checked+label:before {background-position:0 0}

/* 검색영역 */
.search_wrap {text-align:center; background-color:#f9f9f9}
.search_bar {display:inline-block; margin:0 auto; padding:25px 0 29px 0}
.search_bar:after {content:''; clear:both; display:block}
.search_bar.active+.search_category {display:block}
.search_bar.active .btn_round:before {background-position:0 0}
.search_wrap .search_category {position:relative; padding:30px; border-top:1px solid #fff}
.category_item {display:table; text-align:left; table-layout:fixed}
.category_item+.category_item {margin-top:10px}
.category_item:after {content:''; clear:both; display:block}
.category_item .cate_left {display:table-cell; padding-right:20px}
.category_item .cate_right {display:table-cell; vertical-align:middle}
.category_item .cate_right+.cate_left {padding-left:20px}
.category_item .cate_tit {display:block; width:60px; min-height:40px; line-height:1.3em; padding:10px 0; text-align:right; font-size:15px; color:#022222}
.category_item .btn_square, .category_item .select_box {margin-left:8px}
.category_item .cate_right .search_date {width:188px; height:40px; margin-left:8px; line-height:40px; margin-bottom:10px; padding:0 10px; font-size:15px; color:#777; border: 1px solid #ddd; background:url(../../images/w/bg/bg_arrow_gray.png) no-repeat 92% center #fff}
.category_item .cate_right .btn_square {margin-bottom:10px; padding:0 10px}
.category_item .cate_right .select_box {min-width:188px; margin-bottom:10px}
.category_item .cate_right .range_box {margin-left:8px}
.category_item .cate_right:after {content:''; clear:both; display:block}
.category_item .cate_right .inp_range {float:left}
.category_item .cate_right .range_value {display:inline-block; margin-left:30px}
.category_item .cate_right .range_value .wave {margin:0 12px}

/* 필터 */
.list_filter {text-align:left}
.list_filter:after {content:''; clear:both; display:block}
.list_filter .filter_left {float:left}
.list_filter .filter_right {float:right}
.filter_item {display:inline-block; position:relative; height:35px; padding:0 30px 0 15px; line-height:35px}
.filter_item+.filter_item {margin-left:38px}
.filter_item .fil_tit {font-size:15px; color:#777}
.filter_item .btn_up {position:absolute; top:50%; right:0; width:8px; height:6px; margin-top:-6px; background: url(../../images/w/bg/bg_remote.png) no-repeat}
.filter_item .btn_down {position:absolute; top:50%; right:0; width:8px; height:6px; margin-top:0px; background: url(../../images/w/bg/bg_remote.png) no-repeat 0 -6px}

/* 검색 및 input */
.search_box_xl {display:inline-block; position:relative; width:705px; height:45px; padding:0 20px; padding-right:50px; border:1px solid #ff4200; border-radius:25px; box-sizing:border-box; background-color:#fff}
.search_box_xl .inp_search {width:100%; height:100%; line-height:45px; font-size:17px; background-color:transparent; color:#222}
.search_box_xl .btn_search {position:absolute; top:50%; right:20px; display:block; width:24px; height:24px; margin-top:-12px; background:url(../../images/w/bg/bg_search.png) no-repeat center center}
.search_box_sm {display:inline-block; position:relative; width:250px; height:40px; line-height:40px; padding:0 10px; padding-right:40px; border:1px solid #ddd}
.search_box_sm .inp_search {width:100%; height:100%; margin-top:-3px; font-size:15px; background-color:transparent; color:#222}
.search_box_sm .btn_search {position:absolute; top:0; right:0; display:block; width:40px; height:100%; background:url(../../images/w/bg/bg_search_sm.png) no-repeat center center}
.select_box {min-width:190px; height:40px; line-height:40px; padding:0 10px; padding-right:30px; font-size:15px; color:#777; border:1px solid #ddd; box-sizing:border-box; background: url(../../images/w/bg/bg_arrow_gray.png) no-repeat right 10px center #fff}
.select_box+.sel  {margin-left:8px}
.inp_txt {width:60px; height:40px; line-height:40px; padding-left:10px; text-align:left; color:#777; border:1px solid #ddd}

/* pagenation */
.pagenation {text-align:center}
.pagenation ul {display:inline-block}
.pagenation ul:after {content:''; clear:both; display:block}
.pagenation ul li {float:left}
.pagenation .num, .pagenation .icon_page {display:block; width:40px; height:34px; line-height:34px; text-align:center}
.pagenation .num.active {cursor:pointer; border:1px solid #ff8257; color:#ff4200}
.pagenation .icon_page {border:1px solid #e5e5e5; background:url(../../images/w/bg/bg_page.png) no-repeat}
.pagenation .icon_page.first {background-position:0 0}
.pagenation .icon_page.prev {margin-right:20px; border-left:0; background-position:-42px 0}
.pagenation .icon_page.next {margin-left:20px; background-position:-84px 0}
.pagenation .icon_page.last {border-left:0; background-position:-126px 0}


/* 전문가평가 점수표  */
.expert_score_table {display:table; position:relative; width:100%; table-layout:fixed; padding-right:90px; border-top:1px solid #ddd; border-bottom:1px solid #ddd}
.expert_score_table:after {content:''; clear:both; display:block}
.expert_score_table li {display:table-cell; width:100%; padding:20px 10px; text-align:center}
.expert_score_table li .tit {display:block; font-size:15px; font-weight:400; color:#777}
.expert_score_table li .score {display:block; margin-top:5px; font-family:'Montserrat'; font-size:19px; font-weight:700; color:#222}
.expert_score_table li.btn_score_box {position:absolute; right:0; top:50%; width:80px; padding:0; text-align:right; transform:translateY(-50%)}

/* 배너 */
.banner_box {display:table; position:relative; width:100%; height:250px; padding:0 40px}
.banner_box .inner {display:table-cell; vertical-align:middle}
.banner_box .inner .tit {display:block; margin-bottom:15px; font-size:25px; color:#222}
.banner_box .inner .desc {display:block; line-height:25px; font-size:17px; font-weight:300; color:#222}
.banner_box.type01 {background:url(../../images/w/bg/bg_ico01.jpg) no-repeat center}
.banner_box.type02 {background:url(../../images/w/bg/bg_ico02.jpg) no-repeat center}
.banner_box.type03 {background:url(../../images/w/bg/bg_ico03.jpg) no-repeat center}
.banner_box.type04 {background:url(../../images/w/bg/bg_ico04.jpg) no-repeat center}
.banner_box.type05 {background:url(../../images/w/bg/bg_ico05.jpg) no-repeat center}

/* 알림 박스 */
.notice_box {padding:80px 0 66px 0; text-align:center; background-color:#fafafa}
.notice_box .tit {display:block; font-size:28px; font-weight:400; color:#222}
.notice_box .desc {display:block; margin-top:25px; line-height:28px; font-size:18px; font-weight:300; color:#222}

/* 테이블 */
.table_box {width:100%; font-size:17px; color:#222}
.table_box th, .table_box td {min-height:50px; padding:10px 10px; line-height:1.5em; text-align:center; border:1px solid #ddd}
.table_box th {font-weight:700; background-color:#f9f9f9; border-bottom:0}
.table_box td {position:relative}
.table_box td .none {content:''; position:absolute; top:50%; left:50%; z-index:-1; width:10px; height:2px; margin-left:-5px; background-color:#b3b3b3}
.table_box.row_type th {border-bottom:1px solid #ddd}
.table_box.row_type td {padding-left:30px; text-align:left}

/* range */
.inp_range {border:1px solid transparent; box-shadow:none; margin-top:0}
.inp_range:focus {outline:none}

.inp_range::-webkit-slider-runnable-track {width:100%; height:2px; background-color: #ddd}
.inp_range::-webkit-slider-thumb {-webkit-appearance:none; height:16px; width:16px; border-radius:50%; background:#ff8257; margin-top:-8px}
.inp_range:focus::-webkit-slider-thumb {outline:none}

.inp_range::-moz-range-track {width:100%; height:2px; background-color: #ddd}
.inp_range::-moz-range-thumb {-webkit-appearance:none; height:16px; width:16px; border-radius:50%; background:#ff8257; border:transparent; margin-top:-8px}
.inp_range:focus::-moz-range-thumb {outline:none}

.inp_range::-ms-track  {width:100%; height:16px; background:transparent; border:1px solid #ddd; color:transparent}
.inp_range::-ms-fill-lower {background:#ddd; border-radius:6px}
.inp_range::-ms-fill-upper {background:#ddd; border-radius:6px}
.inp_range::-ms-thumb {-webkit-appearance:none; height:16px; width:16px; border-radius:50%; background:#ff8257; margin-top:-8px}
.inp_range:focus::-ms-thumb {outline-width: 1px; outline-style: dashed}

.range_num {position:relative; width:400px; margin-left:3px}
.range_num:after {content:''; clear:both; display:block}
.range_num li {float:left; text-align:right; width:20%; margin-top:15px; font-size:13px; color:#777}
.range_num li:first-child {position:absolute; top:0; left:-8px; width:auto}

/* range custom */
.range_wrap:after {content:''; clear:both; display:block}
.range_box {float:left}
.range_box .ui-widget.ui-widget-content {height:2px; margin-top:20px; border:0; background-color:#ddd}
.range_box .ui-slider .ui-slider-range {background-color:#ff8257}
.range_box .ui-slider .ui-state-default {top:-6px; z-index:1; width:16px; height:16px; border:0; border-radius:50%; background-color:#ff8257}

.inp_range {position:relative; width:400px; margin-top:20px}
.range_value {float:left; margin-left:25px}
.range_value span {display:inline-block; width:60px; height:40px; line-height:40px; text-align:center; font-size:15px; color:#777; border:1px solid #ddd; background-color:#fff}
.range_value span.wave {display:inline; border:none; background-color:transparent}


/* 카드  */
.card {display:table; position:relative; width:100%}
.card:after {content:''; clear:both; display:block}
.card .thumb {float:left; width:245px; overflow:hidden; border: 1px solid #ddd; border-radius:4px}
.card .thumb a {display:block; width:100%; height:100%}
.card .thumb img {width:100%; height:100%}
.card .thumb {width:180px; height:113px; margin-right:20px}
.card .thumb:hover+div>a {text-decoration:underline}
.card .card_right {display:table-cell; width:100%; vertical-align:middle}
.card .card_right>div[class*="box"].txt_box {margin-top:0}
.card .card_right>div[class*="box"]{margin-top:10px}
.card .card_right .txt_box {display:block}
.card .card_right .tit {display:block; overflow:hidden; width:100%; font-size:18px; font-weight:700; line-height:1.3em; color:#222}
.card .card_right {font-size:15px; color:#222}
.card .card_right .txt_box .desc, .card .card_right .txt_box .longdesc {margin-top:10px}
.card .card_right .desc {display:inline-block; overflow:hidden; width:100%; white-space:nowrap; text-overflow:ellipsis; font-weight:400}
.card .longdesc {display:inline-block; overflow:hidden; width:100%; line-height:26px; font-size:15px; font-weight:400}
.card .longdesc.type01 {display:-webkit-box; max-height:52px; text-overflow:ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp:2}
.card .longdesc.type02 {display:-webkit-box; max-height:78px; text-overflow:ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp:3}
.card .card_right:after {content:''; clear:both; display:block}
.card .card_right .sub_name {font-size:15px; font-weight:700; margin-right:15px}
.card .card_right .desc_box .sub_name {float:left; font-size:15px; font-weight:700; line-height:26px; margin-right:15px}
.card .card_right .desc_box .sub_name+.longdesc {float:left; width:695px}
.card .keyword_box .btn_keyword{display:inline-block; min-height:26px; padding:4px 12px; margin-right:3px; margin-bottom:10px; font-size:14px; font-weight:400; color:#fff; border-radius:15px; border:2px solid #ff8257; background-color:#ff8257}
.card .keyword_box .btn_keyword.status {color:#ff8257; background-color:#fff}
.card .desc_box:after {content:''; clear:both; display:block}
.card .word_box .sub_name {display:inline-block; margin-right:8px; font-size:15px; font-weight:700}
.card .word_box .word+.sub_name {margin-left:15px}
.card .word_box .word+.sub_name02 {margin-left:20px}
.card .word_box .word {display:inline-block; font-size:15px; font-weight:400; color:#222}
.card .word_box .word.gray {color:#777}
.card .word_box .word.emp {font-weight:700; color:#ff4200}
.card .word_box .num {font-family:'Montserrat'; font-size:16px; font-weight:700}
.card .word_box .word.line {position:relative; padding-left:20px}
.card .word_box .word.line:before {content:''; display:block; position:absolute; top:4px; left:10px; width:1px; height:11px; background-color:#777}
.card .word_box .word.line_bold {position:relative; padding-left:15px}
.card .word_box .word.line_bold:before {content:''; display:block; position:absolute; top:2px; left:7px; width:1px; height:17px; background-color:#222}
.card .bullet {position:relative; padding-left:10px}
.card .bullet:before {content:''; display:block; position:absolute; top:40%; left:0; transform:translateY(50%); width:2px; height:2px; background-color:#777}
.card .icon_box {margin-top:0; padding-top:0;}
.card .icon_box:after {content:''; clear:both; display:block}
.card .txt_box .category {display:inline-block; height:14px; padding-left:10px; margin-left:10px; font-size:13px; font-weight:300; color:#555; border-left:1px solid #555;}

/* 체크리스트 */
.checklist_wrap {padding-left:10px}
.checklist_wrap .checklist_depth {position:relative; width:100%}
.checklist_wrap .checklist_depth:before {content:''; display:block; position:absolute; top:15px; left:40px; z-index:-1; width:690px; height:1px; border-top:1px dashed #999}
.checklist_wrap .checklist_depth:after {content:''; display:block; position:absolute; top:13px; left:730px; width:5px; height:5px; border-radius:50%; background-color:#222}
.checklist_wrap .checklist_depth .txt_box {line-height:30px}
.checklist_wrap .checklist_depth>.txt_box .title {position:relative; display:inline-block; padding-right:10px; font-size:16px; line-height:16px; color:#222; background-color:#fff}
.checklist_wrap .checklist_depth.depth1 {display:none; padding-right:20px; padding-bottom:15px}
.checklist_wrap .checklist_depth.depth1.active {display:block}
.checklist_wrap .checklist_depth.depth1>.txt_box .title {padding-left:10px; font-weight:500; color:#222}
.checklist_wrap .checklist_depth.depth1>.txt_box {margin-bottom:10px; color:#222}
.checklist_wrap .checklist_depth>.txt_box:after {content:''; clear:both; display:block}
.checklist_wrap .checklist_depth>.txt_box .value {float:right; max-width:43px; padding:5px 0; font-size:16px; text-align:center}
.checklist_wrap .checklist_depth>.txt_box .value .emp {display:inline-block; margin-right:2px; font-family:'Montserrat'; font-size:18px; font-weight:700}
.checklist_wrap .checklist_depth.depth1>.txt_box .title:before {content:''; display:block; position:absolute; left:0; top:50%; width:2px; height:2px; border-radius:50%; transform:translateY(50%); background-color:#222}
.checklist_wrap .checklist_depth.depth2 {margin-top:15px; padding-left:20px}
.checklist_wrap .checklist_depth.depth2 .txt_box {color:#222}
.checklist_wrap .checklist_depth.depth2:before {border-top:1px dashed #d3d3d3}
.checklist_wrap .checklist_depth.depth2:after {background-color:#999}
.checklist_wrap .depth3 {position:relative; padding-left:12px; padding-right:60px; line-height:25px; font-size:16px; color:#777}
.checklist_wrap .depth3:before {content:'-'; display:block; position:absolute; left:0; top:0; width:12px}

/* 폼 헤드 */
.form_wrap {position:relative; margin-top:55px}
.form_wrap>.ico_required {position:absolute; top:0; right:0}
.form_wrap .form_tit_box {display:block; margin-bottom:15px}
.form_wrap .form_tit_box:after {content:''; clear:both; display:block}
.page_sub_tit {display:inline-block; margin-right:5px; line-height:24px}
.ico_required {display:inline-block; line-height:24px}
.ico_required {font-size:15px; color:#777}
.ico_required:before {content:'*'; display:inline-block; width:7px; height:7px; padding-right:10px; color:#ff4200}
.ico_required span {display:inline-block; margin-left:3px}
.ico_required .blind {display:inline-block}
.form_wrap .btn_row {margin-top:30px}

/* 폼 내용 공통 */
.form_row {position:relative; width:100%}
.form_row:after {content:''; clear:both; display:block}
.form_row .line, .form_row.line{border:1px solid #ddd}
.form_row+.form_row {margin-top:10px}
.form_row .label_box {float:left; width:20%; padding:0 15px}
.form_row .label_box .tit {display:inline-block; padding:13px 0; line-height:1.5em; font-size:16px; color:#777}
.form_row .input_box .desc {display:inline-block; padding:3px 0; line-height:1.5em; font-size:16px; color:#222}
.form_row .input_box {float:left; width:80%; height:50px}
.form_row .input_box input[type="text"] {width:100%; height:100%; padding:0 13px; font-size:16px; color:#222}
.form_row .sel_box {float:left; width:80%; height:50px}
.form_row .sel_box select {width:100%; height:105%; padding:0 13px; font-size:16px; color:#222; border:1px solid #ddd; background:url(../../images/w/bg/bg_arrow_gray.png) no-repeat 90% center}
.form_row .tarea_box textarea {width:100%; height:100%; line-height:25px; font-size:16px; color:#222}
.form_row .btn_box {position:absolute; right:0; top:0; height:50px}
.form_row .btn_form01 {min-height:50px; color:#222; border:0; background-color:#ddd}

.form_row.type_info {height:30px}
.form_row.type_info:after {content:''; clear:both; display:block}
.form_row.type_info .label_box {min-width:15%; width:auto; height:100%}
.form_row.type_info .label_box .tit {line-height:1.3em; padding:5px 0}
.form_row.type_info .input_box {width:auto; height:100%}
.form_row.type_info .input_box .desc {display:block}

.form_row.type_text01.short .label_box {width:15%}
.form_row.type_text01.short .input_box {width:85%}
.form_row.type_text01.long .label_box {width:30%}
.form_row.type_text01.long .input_box {width:70%}
.form_row.type_text01 .input_box {position:relative}
.form_row.type_text01 .input_box .txt_limit {position:absolute; top:0; right:10px; font-size:15px; color:#777; line-height:50px}

.form_row.type_sel01:after {content:''; clear:both; display:block}
.form_row.type_sel01 .label_box {width:22%; border:1px solid #ddd}
.form_row.type_sel01 .sel_box {width:25%; margin-left:1%}
.form_row.type_sel02:after {content:''; clear:both; display:block}
.form_row.type_sel02 .label_box {width:22%; border:1px solid #ddd}
.form_row.type_sel02 .sel_box {width:77%; margin-left:1%}
.form_row.type_sel02 .sel_box select {background-position:98% center}
.form_row.type_sel03 .label_box {width:15%}
.form_row.type_sel03 .sel_box {width:85%}

.form_row.type_img01 {margin:20px 0}
.form_row .img_box {display:inline-block; position:relative; overflow:hidden; border: 1px solid #ddd}
.form_row .img_box+.img_box {margin-left:20px}
.form_row .img_box.type01 {width:300px; height:170px}
.form_row .img_box.type02 {width:130px; height:130px}
.form_row .img_box>img {max-width:100%; min-height:100%}
.form_row .img_size {position:absolute; left:0; top:0; padding:5px; font-size:14px; color:#777; background-color:#ddd}

.form_row.type_file01 {padding-right:170px}
.form_row.type_file01:after {content:''; clear:both; display:block}
.form_row.type_file01 .inner {position:relative; width:100%; height:50px; border:1px solid #ddd; border-right:0}
.form_row.type_file01 .inner:after {content:''; clear:both; display:block}
.form_row.type_file01 .label_box {width:40%}
.form_row.type_file01 .input_box {width:60%}
.form_row.type_file01 .input_box:after {content:''; clear:both; display:block}
.form_row.type_file01 .input_box input[type="text"] {float:left; overflow:hidden; width:220px; height:48px; padding:0 10px; text-overflow:ellipsis}
.form_row.type_file01 .input_box label {float:right; width:160px; height:48px}
.form_row.type_file01 .input_box label:hover {cursor:pointer; text-decoration:underline}

.form_row.type_file02 {margin-top:20px; padding-top:80px; padding-right:170px; padding-left:140px}
.form_row.type_file02:after {content:''; clear:both; display:block}
.form_row.type_file02 .img_box {position:absolute; left:0; top:0}
.form_row.type_file02 .btn_box {float:left; margin-top:80px}
.form_row.type_file02 .inner {position:relative; width:100%; height:50px; border-right:0}
.form_row.type_file02 .inner:after {content:''; clear:both; display:block}
.form_row.type_file02 .label_box {width:40%}
.form_row.type_file02 .input_box {width:60%}
.form_row.type_file02 .input_box:after {content:''; clear:both; display:block}
.form_row.type_file02 .input_box input[type="text"] {float:left; overflow:hidden; width:140px; height:48px; padding:0 10px; text-overflow:ellipsis}
.form_row.type_file02 .input_box label {float:right; width:160px; height:48px}
.form_row.type_file02 .input_box label:hover {cursor:pointer; text-decoration:underline}

.form_row.notice {margin-left:10px}
.form_row.notice .txt {display:block; line-height:25px; font-size:14px; color:#777}
.form_row.notice .txt:before {content:'※'; padding-right:7px;}

.form_row.type_tarea01.short textarea {height:70px}
.form_row.type_tarea01.long textarea {height:680px}
.form_row.type_tarea01 textarea {height:250px; padding:0 15px}
.form_row.type_tarea01 .label_box {width:100%; min-height:50px}
.form_row.type_tarea01 .txt_count {position:absolute; right:15px; top:0; height:50px; line-height:50px; font-size:14px; color:#777}
.form_row.type_tarea01 .txt_count .emp {font-weight:700}

.form_row.type_date01 .date_row {position:relative}
.form_row.type_date01 .date_row:after {content:''; clear:both; display:block}
.form_row.type_date01 .date_row+.date_row {margin-top:10px}
.form_row.type_date01 .date_row .label_box {position:static; float:left; width:200px; padding-right:15px; border: 1px solid #ddd}
.form_row.type_date01 .date_row .input_box {float:left; width:170px; margin-left:1%}
.form_row.type_date01 .date_row .input_box input {border: 1px solid #ddd}
.form_row.type_date01 .date_row .dash {float:left; margin-left:10px; line-height:50px; font-size:18px; color:#222}
.form_row.type_date01 .btn_box {position:absolute; top:auto; bottom:0; right:118px}
.form_row.type_date01 .btn_box .btn_form02 {height:50px}
.form_row.type_date01 .btn_box .btn_form02+.btn_form02 {margin-left:10px}

.card.type02 {overflow:hidden; width:100%; min-height:450px; border:1px solid #ddd; border-radius:4px; background: url(../../images/w/common/default_main.png) no-repeat center}
.card.type02+.card {margin-left:40px}
.card.type02 .thumb {float:none; position:relative; width:100%; height:213px; margin-right:0; border:0; border-radius:0}
.card.type02 .card_txtbox {min-height:185px; padding:20px; border-top:1px solid #ddd; background-color:#f9f9f9}
.card.type02 .card_txtbox .txt_box {display:inline-block; font-size:22px; font-weight:700; color:#222}
.card.type02 .card_txtbox .keyword_box {margin-top:10px}
.card.type02 .card_txtbox .desc_box .longdesc {height:66px; margin-top:10px; line-height:22px; color:#777}
.card.type02 .time_box {width:100%; min-height:50px; padding:15px 20px 15px 50px; line-height:1.3em; font-size:15px; font-weight:400; color:#777; background: url(../../images/w/ico/ico_time_gray.png) no-repeat 25px center}
.card.type02 .time_box .name {display:inline-block; line-height:1.5em; padding-right:10px; font-weight:700}
.card.type02 .time_box .time {padding-right:15px; font-weight:400}
.card.type03 {width:100%; margin-bottom:40px}
.card.type03:nth-child(even) {margin-left:40px}
.card.type03 .thumb {position:relative; width:245px; height:153px}
.card.type03 .txt_box .category{margin-top:10px; margin-left:0}
.card.type03 .longdesc {color:#777}
.card.type03 .time_box {padding-left:25px; font-size:14px; font-weight:400; color:#777; background: url(../../images/w/ico/ico_time_gray.png) no-repeat left center}
.card.type03 .time_box .name {display:inline-block; line-height:1.5em; padding-right:10px; font-weight:700}
.card.type03 .time_box .time {padding-right:15px; font-weight:400}

.badge_box {position:absolute; top:15px; right:15px; height:30px}
.badge_box:after {content:''; clear:both; display:block}
.badge_box .btn_score {float:left; display:block; width:auto; min-width:50px; min-height:30px; line-height:30px; padding:0 10px; text-align:center; font-family:'Montserrat'; font-size:18px; font-weight:700; color:#fff; border-radius:4px}
.badge_box .btn_score+.btn_score {margin-left:5px}
.badge_box .btn_score.hot {font-size:12px; background-color:#f54ba3}
.badge_box .btn_score.new {font-size:12px; background-color:#479de7}
