@charset "utf-8";
@import "common.css";

/* 메인 */
.contents.main {width:100%; padding:0}
.visual_wrap {position:relative}
.visual_wrap .visual_slide {overflow:hidden; width:100%; height:410px}
.visual_slide .slide_box {height:100%}
.visual_slide .slide_box .inner {width:1100px; margin:0 auto; padding:0 20px}
.visual_slide .slide_box .inner .tit_box {padding-top:55px; text-align:center}
.visual_slide .slide_box .inner .tit_box .tit {font-size:50px; font-weight:500; color:#fff}
.visual_slide .slide_box .inner .tit_box .desc {margin-top:20px; font-size:18px; line-height:26px; color:#fff}
.visual_slide .slide_box .inner .num_box {margin-top:45px; text-align:center}
.visual_slide .slide_box .inner .num_box li {display:inline-block; width:230px; height:125px; border:1px solid #fff; border:1px solid rgba(255,255,255,0.5); background-color:rgba(255,255,255,0.1)}
.visual_slide .slide_box .inner .num_box li+li {margin-left:35px}
.visual_slide .slide_box .inner .num_box li .name {display:block; margin-top:30px; font-size:16px; font-weight:700; color:#fff}
.visual_slide .slide_box .inner .num_box li .num {display:block; margin-top:5px; font-family:'Montserrat'; font-size:32px; font-weight:700; letter-spacing:0; color:#fff}

.visual_wrap .visual_pagenation {position:absolute; bottom:-20px; left:47%; width:124px; height:40px; border-radius:40px; background-color:#f9f9f9}
.visual_wrap .visual_pagenation:after {content:''; clear:both; display:block}
.visual_wrap .visual_pagenation a[class^="btn_visual"] {display:block; float:left; width:40px; height:40px; background:url(../../images/w/bg/bg_visual_page.png) no-repeat 17px 12px}
.visual_wrap .visual_pagenation a[class^="btn_visual"].btn_visual_next {float:right; background-position:-15px 12px}
.visual_wrap .visual_pagenation .total {display:block; float:left; width:44px; line-height:40px; text-align:center; font-family:'Montserrat'; font-size:14px; color:#ff4200}

.main .main_tit {padding-top:40px; margin-bottom:40px; text-align:center; font-family:'Montserrat'; font-size:36px; font-weight:300; color:#ff4200}
.platinum_wrap .main_tit {margin-top:50px; padding-top:30px; background: url(../../images/w/bg/bg_main.png) no-repeat top center}
.platinum_wrap {width:100%}
.platinum_wrap .platinum_inner {width:1140px; margin:0 auto}
.platinum_inner ul:after {content:''; clear:both; display:block}
.platinum_inner ul {width:100%; padding-bottom:20px}
.platinum_inner ul li {float:left; width:33.3%; padding:0 20px; margin-bottom:40px}
.platinum_inner ul li:nth-child(4n) {clear:both}
.platinum_inner ul .card {overflow:hidden; width:100%; border:1px solid #ddd; border-radius:4px}
.platinum_inner ul .card+.card {margin-left:40px}
.platinum_inner .card .thumb {float:none; position:relative; width:100%; height:213px; margin-right:0; border:0; border-radius:0}
.badge_box {position:absolute; top:15px; right:15px; height:30px}
.badge_box:after {content:''; clear:both; display:block}
.badge_box .btn_score {float:left; display:block; width:auto; min-width:50px; height:30px; line-height:30px; margin-bottom:5px; padding:0 10px; text-align:center; font-family:'Montserrat'; font-size:18px; font-weight:700; color:#fff; border-radius:4px}
.badge_box .btn_score+.btn_score {margin-left:5px}
.badge_box .btn_score.hot {font-size:15px; background-color:#f54ba3}
.badge_box .btn_score.new {font-size:12px; background-color:#479de7}
.platinum_inner .card .card_txtbox {min-height:185px; padding:20px; border-top:1px solid #ddd; background-color:#f9f9f9}
.platinum_inner .card .card_txtbox .txt_box {display:inline-block; font-size:22px; font-weight:700; color:#222}

.platinum_inner .card .card_txtbox .keyword_box {margin-top:10px}
.platinum_inner .card .card_txtbox .desc_box .longdesc {height:66px; margin-top:10px; line-height:22px; color:#777}
.platinum_inner .time_box {width:100%; min-height:50px; padding:15px 20px 15px 50px; line-height:1.3em; font-size:15px; font-weight:400; color:#777; background: url(../../images/w/ico/ico_time_gray.png) no-repeat 25px center}
.platinum_inner .time_box .name {display:inline-block; line-height:1.5em; padding-right:10px; font-weight:700}
.platinum_inner .time_box .time {padding-right:10px; font-weight:400}


.prime_wrap {width:100%; padding-bottom:20px; background-color:#f9f9f9}
.prime_wrap .prime_inner {width:1140px; margin:0 auto}
.prime_inner ul:after {content:''; clear:both; display:block}
.prime_inner li {float:left; width:50%; padding:0 20px}
.prime_inner li:nth-child(odd) {clear:both}
.prime_inner li .card {width:100%; margin-bottom:40px}
.prime_inner .card:nth-child(even) {margin-left:40px}
.prime_inner .card .thumb {position:relative; width:245px; height:153px}
.prime_inner .card .txt_box .category{margin-top:10px; margin-left:0}
.prime_inner .card .longdesc {color:#777}
.prime_inner .time_box {padding-left:25px; font-size:14px; font-weight:400; color:#777; background: url(../../images/w/ico/ico_time_gray.png) no-repeat left center}
.prime_inner .time_box .name {display:inline-block; line-height:1.5em; padding-right:10px; font-weight:700}
.prime_inner .time_box .time {padding-right:10px; font-weight:400}

.calendar_wrap {width:100%; padding-bottom:45px}
.calendar_wrap .calendar_inner {width:1140px; margin:0 auto}
.calendar_wrap .calendar_inner:after {content:''; clear:both; display:block}
.calendar_inner .item {float:left; width:50%; padding:0 20px}
.calendar_inner .item .calender_box {width:100%; border: 1px solid #ddd; border-radius:5px}
.calendar_inner .calender_box+.calender_box {margin-left:40px}
.calender_box .cal_tit {height:50px; border-bottom:1px solid #ddd}
.calender_box .cal_tit a {display:block; height:50px; padding-left:20px; line-height:50px; font-size:20px; font-weight:300; color:#ff4200; background: url(../../images/w/bg/bg_triangle.png) no-repeat 96% center}
.calender_box .cal_table {position:relative; min-height:105px; padding:0 20px; padding-bottom:35px}
.calender_box .cal_table:before {content:''; position:absolute; top:50%; left:50%; z-index:-1; width:16px; height:2px; background-color:#b3b3b3}
.cal_table .list_table thead {display:none}
.cal_table .list_table td {padding-top:20px; background-color:#fff}
.cal_table .list_table .card {height:50px; text-align:left}
.cal_table .list_table .card a {display:block}
.cal_table .list_table .card a:hover .tit {text-decoration:underline}
.cal_table .list_table .card .thumb {width:80px; height:50px; border-radius:0}
.cal_table .list_table .card .card_right {float:left; display:inline-block; width:170px}
.cal_table .list_table .card .card_right .tit {overflow:hidden; line-height:50px; text-overflow:ellipsis; white-space:nowrap}
.cal_table .list_table .score {padding-right:0; padding-left:0}
.cal_table .list_table .score .btn_score {min-width:45px; min-height:26px; padding:4px 10px; font-size:15px}
.cal_table .list_table .date {text-align:left}

.partners_wrap {width:100%; padding-bottom:20px; background-color:#f9f9f9}
.partners_wrap .partners_inner {width:1140px; margin:0 auto}
.partners_inner .partners_list {margin-top:50px}
.partners_inner .partners_list:after {content:''; clear:both; display:block}
.partners_inner .partners_list li {float:left; width:25%; padding:0 20px; margin-bottom:30px}
.partners_inner .partners_list li .thumb {display:block; overflow:hidden; width:100%; height:117px; border: 1px solid #ddd; border-radius:4px}
.partners_inner .partners_list li .thumb>img {min-width:100%}
