@charset "utf-8";


/* ico리스트 */
.list_filter.ico_list_filter {margin-top:30px}
.ico_result_list {padding:40px 0; margin-bottom:20px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd}
.ico_result_list .item+.item {display:block; margin-top:40px}
.ico_result_list .item:after {content:''; clear:both; display:block}
.ico_result_list .card {float:left; width:750px; height:113px}
.ico_result_list .card .thumb {width:180px; height:113px}
.ico_result_list .card .tit {font-size:18px; font-weight:700}
.ico_result_list .card .longdesc {margin-top:10px; font-weight:400; color:#777}
.ico_result_list .card .keyword_box {margin-top:10px}
.ico_result_list .ico_date {float:left; width:80px; line-height:113px; margin-left:38px; text-align:center; font-size:15px; color:#777}
.ico_result_list .ico_score {float:right; width:70px; line-height:113px}
.ico_result_list .ico_score .btn_score {width:100%}

/* ico리스트 공통 */
.tab_cont {width:100%}
.tab_cont {margin-top:60px}
.tab_cont:after {content:''; clear:both; display:block}
.tab_cont .tab_tit_box {float:left; width:190px; padding-left:40px; margin-right:40px}
.tab_cont .tab_tit_box .tit {margin-bottom:20px; font-size:24px; font-weight:700; color:#222}
.tab_cont .tab_desc_box {float:right; width:870px}

/* ico정보 */
.card.ico_summary {width:100%; margin-bottom:40px}
.card.ico_summary .thumb {width:215px; height:135px}
.card.ico_summary .card_right .txt_box .tit {font-size:24px; line-height:1.3em}
.card.ico_summary .card_right .txt_box {width:740px}
.info_box {padding:30px; padding-bottom:10px; border:1px solid #ddd; border-top:0; font-size:17px}
.info_box:after {content:''; clear:both; display:block}
.info_box .tit_box {float:left; width:50%; line-height:40px; padding-left:140px; margin-bottom:20px; text-align:left}
.info_box .tit_box:after {content:''; clear:both; display:block}
.info_box .tit_box .tit {display:inline-block; position:relative; float:left; width:140px; padding:0 10px; margin-left:-140px; font-size:17px; font-weight:700}
.info_box .tit_box .tit:before {content:''; display:block; position:absolute; top:40%; left:0; transform:translateY(50%); width:2px; height:2px; background-color:#777}
.info_box .tit_box .desc {float:left}
.info_box .tit_box .desc .none {color:#777}
.info_box .desc_box {clear:both; width:100%; margin-bottom:20px; text-align:left}
.info_box .desc_box .tit {display:block; position:relative; padding-left:10px; margin-bottom:10px; text-align:left; font-weight:700}
.info_box .desc_box .tit:before {content:''; display:block; position:absolute; top:40%; left:0; transform:translateY(50%); width:2px; height:2px; background-color:#777}
.info_box .desc_box .longdesc {display:block; margin-left:10px; line-height:24px}


/* 기업정보 */
.ico_company .tab_desc_box {padding-right:95px}
.comp_list li {padding:8px 0}
.comp_list li a {display:block; height:24px; line-height:24px}
.comp_info .tab_sub_tit {display:block; line-height:28px; padding-bottom:15px; font-size:20px; font-weight:700; color:#222}
.comp_info .desc {font-size:17px; line-height:25px; color:#222}
.comp_info .video {width:100%; height:580px; margin:30px 0 40px 0}
.comp_info .video iframe {width:100%; height:100%}

/* 전문가평가  */
.ico_score .tab_desc_box {padding-right:40px}
.evaluate_list {width:100%}
.evaluate_total>li {width:110px; margin-bottom:5px; padding:15px 10px; text-align:center; background-color:#f9f9f9}
.evaluate_total li .eval_tit {display:block; font-size:15px; font-weight:400; color:#777}
.evaluate_total li .eval_score {display:block; font-family:'Montserrat'; font-size:26px; font-weight:700; color:#222}
.evaluate_total li .eval_score.emp {color:#ff4200}
.evaluate_list .item {padding-left:100px}
.evaluate_list .item+.item {margin-top:50px; padding-top:50px; border-top:1px solid #ddd}
.card.evaluate_profile {margin-left:-100px}
.card.evaluate_profile .thumb {width:80px; height:80px; border-radius:50%}
.card.evaluate_profile .card_right .txt_box .tit {font-size:18px}
.card.evaluate_profile .word_box {line-height:24px}
.card.evaluate_profile .word_box .word {color:#777}
.card.evaluate_profile .word_box+.word_box {margin-top:0}
.evaluate_list .item .comment {margin-top:40px; line-height:25px; font-size:17px; color:#222}
.evaluate_list .expert_score_table {margin-left:0; margin-top:30px}

/* 전문위원 리스트 */
.experts_list {margin-bottom:80px}
.experts_list:after {content:''; clear:both; display:block}
.experts_list li {float:left}
.experts_list li:nth-child(odd) {margin-right:40px}
.experts_list .card {width:530px; height:130px; margin-top:40px}
.experts_list .card:after {content:''; clear:both; display:block}
.experts_list .card .thumb {width:130px; height:130px}
.experts_list .card .thumb img {min-height:130px}
.experts_list .card .card_right .txt_box .tit {font-size:22px; padding-top:8px}
.experts_list .card .word_box {margin-top:8px}
.experts_list .card .word_box.score {margin-top:12px}

/* 전문위원 뷰 */
.expert_view {margin-bottom:50px}
.expert_view:after {content:''; clear:both; display:block}
.expert_view .card {float:left; width:508px; height:182px}
.expert_view .card .thumb {width:182px; height:182px}
.expert_view .card .thumb img {min-height:182px}
.expert_view .card .card_right {padding-right:10px}
.expert_view .card .tit_box .tit {font-size:25px}
.expert_view .card .icon_box {margin-top:30px}
.expert_view .card .icon_box .btn_sns_light+.btn_sns_light {margin-left:5px}
.expert_view .intro_box {display:table; float:left; overflow:hidden; width:592px; height:142px; margin:20px 0; padding-left:50px; border-left:1px solid #ddd}
.expert_view .intro_box span {display:table-cell; height:140px; line-height:25px; vertical-align:middle; font-size:15px; font-weight:400; color:#555}
.expert_history_wrap {padding-top:40px; border-top:1px solid #ddd}
.expert_history_box {margin-left:12px; border-left:1px solid #ff9672}
.expert_history_box .timeline {position:relative; height:25px; line-height:25px; margin-bottom:30px; padding-left:23px; font-size:18px; font-weight:500; color:#222}
.expert_history_box .timeline:before {content:''; display: block; position:absolute; top:0; left:-12px; width:25px; height:25px; background:url(../../images/w/ico/ico_timeline.png) no-repeat center}
.expert_history_box+.expert_history_box {padding-top:50px}
.history_item {margin-left:30px}
.history_item:after {content:''; clear:both; display:block}
.history_item+.history_item {padding-top:40px}
.history_item .card {float:left; width:390px; padding-right:30px; }
.history_item .card .thumb {top:-20px; width:180px; height:113px}
.history_item .card .tit_box .tit {font-size:18px}
.history_item .card .desc_box .longdesc {width:172px}
.history_item .expert_score_table {float:right; width:665px; margin-top:20px; padding-left:30px; padding-right:80px; border:0; border-left:1px solid #ddd}
.history_item .expert_score_table li {padding:12px 0}
.more_box {padding-top:80px; text-align:center}

/* 뉴스 */
.news_list {margin-bottom:45px}
.news_list li {padding:30px 0}
.news_list li:first-child {padding-top:10px}
.news_list li+li {border-top:1px solid #e3e3e3}
.news_list .news_item {width:100%}
.news_list .news_item .thumb {width:240px; height:150px}
.news_list .news_item .thumb img {min-height:150px}
.news_list .news_item .card_right .tit {display:block; overflow:hidden; font-size:22px; font-weight:500; display:-webkit-box; max-height:1.3em; text-overflow:ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp:1}
.news_list .news_item .card_right .longdesc {display:block; font-weight:300}

/* 마이페이지_기업 */
.my_step {width:100%; text-align:center; border-bottom:5px solid #d3d3d3}
.my_step:after {content:''; clear:both; display:block}
.my_step .item {float:left; width:33.3%; margin-bottom:-5px; padding:0 10px}
.my_step .item:first-child {width:33.4%}
.my_step .item>a {display:block; width:100%; padding-bottom:20px; font-size:18px; color:#777}
.my_step .item.active {border-bottom:5px solid #ff4200}
.my_step .item.active>a {color:#ff4200}

/* 기업 평가결과 */
.my_corp_result .page_sub_tit {margin-bottom:20px}
.my_corp_result .btn_row {margin-top:95px}
.my_corp_result .expert_score_table {padding-right:120px; margin-bottom:40px}
.my_corp_result .checklist_wrap {margin-bottom:70px}
.my_corp_result .expert_score_table .btn_score_box {margin-left:0; margin-right:20px}
.my_corp_result .checklist_wrap {margin-top:35px}
.part_experts_list .item {margin-bottom:30px}
.part_experts_list .item:after {content:''; clear:both; display:block}
.part_experts_list .item+.item {padding-top:30px; border-top:1px solid #e5e5e5}
.part_experts_list .item .card {float:left; width:573px; height:130px}
.part_experts_list .item .card .thumb {width:130px; height:130px}
.part_experts_list .item .card .tit_box {margin-top:5px}
.part_experts_list .item .card .icon_box .btn_sns_light+.btn_sns_light {margin-left:5px}
.part_experts_list .item .score_box {position:relative; float:right; width:242px; height:130px; padding-top:40px; text-align:center; border-left:1px solid #ddd}
.part_experts_list .item .score_box:before {content:''; position:absolute; top:45%; left:-1px; display:block; width:8px; height:17px; background:url(../../images/w/bg/bg_triangle.png) no-repeat center}
.part_experts_list .item .score_box .btn_score {width:auto; height:32px; line-height:32px; padding:0 15px; font-size:20px}
.part_experts_list .item .score_box .btn_score span {display:inline-block; margin-right:3px; vertical-align:middle; font-size:15px; font-weight:400}
.part_experts_list .item .score_box .date {display:block; margin-top:10px; font-size:15px; color:#999}

/* 코멘트 박스 */
.comment_box {clear:both; width:100%; padding-top:25px}
.comment_box .tit {display:block; font-size:15px; font-weight:700; color:#222}
.comment_box .desc {display:block; margin-top:10px; line-height:24px; font-size:15px; color:#555}

/* 기업 평가신청 */
.my_corp_request {position:relative}
.my_corp_request>.ico_required {position:absolute; right:0}
.my_corp_request .chk_row {display:inline-block; margin-bottom:15px}
.my_corp_request .chk_row label {display:inline-block; width:auto; padding-left:35px; font-size:16px; font-weight:500}
.my_corp_request .page_sub_tit {margin-bottom:20px}
.my_corp_request .checklist_wrap {margin-top:35px}
.my_corp_request .request_agree .title {display:block; margin-bottom:15px; line-height:24px; font-size:16px; font-weight:700; color:#222}
.my_corp_request .request_agree .desc {padding:20px 15px; line-height:30px; font-size:16px; color:#777; border: 1px solid #ddd}
.my_corp_request .radio_box {margin-top:20px}
.my_corp_request .btn_row {margin-top:95px}
.my_corp_request .radio_box .radio_row+.radio_row {margin-top:15px}
.radio_box .radio_row {font-size:16px; line-height:20px; color:#222}
.radio_box .radio_row:after {content:''; clear:both; display:block}
.radio_box .radio_row .radio_type01 {float:left}
.radio_box .radio_row .price {float:right}
.radio_box .radio_row .price .emp {font-weight:700}
.radio_box .radio_row .price .num {display:inline-block; margin-right:2px; font-family:'Montserrat'; font-weight:700}
.radio_box .radio_row .details {clear:both; display:block; margin-left:35px; margin-top:10px; line-height:30px; font-size:15px; color:#777}

/* 기업_내 ICO 현황 */
.cont_wrap.my_corp_ico {margin-top:30px}
.my_corp_ico .table_box {position:relative; margin-top:30px}
.my_corp_ico .table_box .hidden {position:absolute; top:0; left:0; z-index:2; width:100%; height:100%; line-height:103px; text-align:center; font-size:22px; font-weight:500; background-color:#ddd; background-color:rgba(221,221,221,0.8)}
.my_corp_ico .table_box table {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none}
.my_corp_ico .table_box .num {font-family:'Montserrat'; font-size:18px; font-weight:700}
.my_corp_ico .update_wrap {margin-top:30px}
.my_corp_ico .btn_row {margin-top:20px}
.my_corp_ico .update_wrap {width:100%; min-height:180px; padding:15px 20px; border:1px solid #ddd}
.my_corp_ico .update_wrap .tit {font-size:16px; color:#777}
.my_corp_ico .update_wrap .tit:before {content:'※'; padding-right:7px;}
.my_corp_ico .update_wrap .update_list {padding-top:20px;}
.my_corp_ico .update_wrap .update_list>li {line-height:24px; font-size:16px; color:#222}
.my_corp_ico .update_wrap .update_list>li:before {content:'-'; width:10px; height:100%; padding-right:5px;}

/* 기업_부가서비스 */
.cont_wrap.my_corp_service {margin-top:30px}
.my_corp_service .btn_row {margin-top:25px}
.banner_box .btn_form01 {position:absolute; bottom:30px; right:30px}
.service_details {margin-top:50px}

/* 기업_부가서비스 신청 */
.my_corp_service_request .table_box {margin-top:25px}
.my_corp_service_request .btn_row {margin-top:50px}

/* 기업정보 수정 */
.my_corp_setting .corp_info_list {margin-top:30px; margin-left:15px}
.my_corp_setting .corp_info_list li {line-height:40px}
.my_corp_setting .corp_info_list li .tit {display:inline-block; width:105px; font-size:16px; color:#777}
.my_corp_setting .corp_info_list li .desc {display:inline-block; font-size:16px; color:#222}
.my_corp_setting .form_wrap {margin-top:10px}
.corp_setting_form .form_info_wrap {margin-bottom:20px}
.corp_setting_form .form_row.type_tarea01 .label_box {padding-right:20px}
.corp_setting_form .chk_row {margin-top:30px}

/* 전문 마이페이지 ICO 평가하기 */
.my_expert_eval .list_table {margin-bottom:55px}
.my_expert_eval .list_filter {margin-top:90px; border-bottom:1px solid #ddd}
.my_expert_eval .search_category .cate_right .select_box.short {width:130px}
.my_expert_eval .list_table .list_name {display:none}
.my_expert_eval .filter_item+.filter_item {margin-right:104px}
.my_expert_eval .filter_item>span {padding:0}
.list_table .list_name th {height:35px; text-align:center; vertical-align:middle; font-size:15px; color:#777; border-bottom:1px solid #eee}
.list_table .list_name th.left {text-align:left}
.list_table .list .card {width:100%; height:70px; text-align:left}
.list_table .list .card .thumb {width:115px; height:70px}
.list_table .list .card .card_right .txt_box {width:150px}
.list_table .list .card .tit {display:block; font-size:18px}
.list_table td {padding-top:15px; text-align:center; vertical-align:middle}
.list_table td.category {text-align:left; font-size:16px; color:#222}
.list_table td.date {font-size:14px; color:#777}
.list_table td.score {padding-left:10px; padding-right:10px; font-size:16px; color:#222}
.list_table td.score .btn_score {min-width:100%; padding:10px 10px; font-size:18px}

/* 전문 마이페이지 ICO 평가하기 뷰 */
.my_expert_eval_view .card.ico_summary {margin-bottom:0}
.my_expert_eval_view .btn_row {margin-top:30px}
.my_expert_eval_view .tab_menu {margin-top:50px}
.my_expert_eval_view .table_box {margin-top:55px}
.my_expert_eval_view .info_box {margin-top:20px; border-top:1px solid #ddd}
.my_expert_eval_view .tab_tit_box {display:table; margin-top:60px}
.my_expert_eval_view .tab_tit_box:after {content:''; clear:both; display:block}
.my_expert_eval_view .tab_tit_box .tit {display:table-cell; vertical-align:middle; padding-right:30px; font-size:24px; font-weight:400; color:#222}
.my_expert_eval_view .tab_tit_box .evaluate_total {display:table-cell; vertical-align:middle; width:auto; margin-left:30px}
.my_expert_eval_view .tab_tit_box .evaluate_total li {display:inline-block}
.my_expert_eval_view .tab_tit_box .evaluate_total li+li {margin-left:5px}
.my_expert_eval_view .evaluate_list {margin-top:31px}
.my_expert_eval_view .evaluate_list .item {padding-left:0}
.my_expert_eval_view .evaluate_list .item:first-child {padding-top:50px; border-top:1px solid #ddd}
.my_expert_eval_view .evaluate_list .item .card {margin-left:0}
.my_expert_eval_view .comp_list {display:table-cell; vertical-align:middle}
.my_expert_eval_view .comp_list:after {content:''; clear:both; display:block}
.my_expert_eval_view .comp_list li{float:left}
.my_expert_eval_view .comp_list li a{margin-right:20px;}
.my_expert_eval_view .comp_info {margin-top:70px}

/* 전문 마이페이지 내 평가리스트 뷰 */
.my_expert_list_view .comment_box .tit {font-size:18px}
.my_expert_list_view .tab_menu {margin-top:40px}
.my_expert_list_view .checklist_wrap {margin-top:40px}
.my_expert_list_view .btn_row {margin-top:40px}

/* 전문 마이페이지 ICO평가하기 평가화면 */
.my_expert_state .my_step .item {width:20%}
.my_expert_state .my_step:first-child .item {width:20%}
.my_expert_state .my_step .item a {font-size:17px; color:#222}
.my_expert_state .my_step .item.active a {color:#ff4200}
.my_expert_state .checklist_wrap {margin:50px 0}
.my_expert_state .range_wrap {margin-top:40px; margin-left:148px}
.my_expert_state .range_wrap .range_value span {font-family:'Montserrat'; font-size:16px; font-weight:600; color:#222}
.my_expert_state .inp_range:before {content:''; display:block; position:absolute; top:-8px; left:0; height:16px; width:16px; border-radius:50%; background:#ff8257}
.my_expert_state .checklist_wrap .checklist_depth:before {top:20px; left:15px}
.my_expert_state .checklist_wrap .checklist_depth:after {display:none}
.my_expert_state .checklist_wrap .checklist_depth>.txt_box {line-height:40px}
.my_expert_state .checklist_wrap .checklist_depth>.txt_box .value {min-width:70px; height:40px; line-height:40px; padding:0 10px; border:1px solid #ddd; background:url(../../images/w/bg/bg_arrow_gray.png) no-repeat right 8px center #fff}
.my_expert_state .checklist_wrap .checklist_depth.depth2:before {display:none}
.my_expert_state .checklist_wrap .checklist_depth.depth2:after {display:none}
.my_expert_state .checklist_wrap .checklist_depth.depth2 {padding-bottom:15px; border-bottom:1px solid #f3f3f3}
.my_expert_state .btn_row {margin-top:30px}
.my_expert_state .form_row {margin-top:15px}
.my_expert_state .form_row.type_tarea01 textarea {height:130px; padding-right:20px}

/* 전문 마이페이지 개인정보 수정 */
.my_expert_setting .type_tarea01 textarea {height:92px}
.my_expert_setting .chk_row {margin-top:45px; margin-bottom:30px}
.my_expert_setting .form_tit_box {margin-top:30px}
.my_expert_setting .btn_row {margin-top:50px}
.my_expert_setting .form_row.type_info .label_box {padding-left:0}
.my_expert_setting .form_row.type_text01 .label_box {padding-left:0}
.my_user_setting .chk_row {margin-top:35px}
.my_user_setting .btn_row {margin-top:50px}

/* 전문 마이페이지 내 등급 현황 */
.my_user_state .light_box {padding:54px 40px; background-color:#fafafa}
.my_user_state .light_box .desc {display:block; font-size:18px; font-weight:300; color:#222}
.my_user_state .light_box .desc .emp {font-weight:700}
.my_user_state .light_box .date {display:block; margin-top:15px; font-size:15px; color:#555}
.my_user_state .table_box {margin-top:30px}
.my_user_state .table_box th {font-weight:500; font-size:17px; color:#222}
.my_user_state .table_box td {padding:15px 38px; text-align:left; font-size:17px;}
.my_user_state .table_box .benefit_list li {position:relative; padding-left:10px; line-height:26px}
.my_user_state .table_box .benefit_list li::before {content:'-'; position:absolute; left:0; top:0}

/* 개인정보 수정 회원탈퇴 */
.my_user_remove .form_wrap {margin-top:60px}
.my_user_remove .form_wrap .page_sub_tit {font-weight:500}
.my_user_remove .form_wrap .desc {margin-top:30px; font-size:16px; line-height:30px}
.my_user_remove .form_row.type_text01 {margin-top:35px}
.my_user_remove .form_row.type_text01 .input_box {width:392px}
.my_user_remove .form_row .label_box {padding-left:0}
.my_user_remove .form_wrap .btn_row {margin-top:120px}

/* 로그인 */
.contents.login {padding-top:125px; text-align:center}
.login_tit_box .tit {text-align:center; font-size:40px; font-weight:300; letter-spacing:-0.075em; color:#ff4200}
.login_tit_box .tit .eng {font-family:'Montserrat'}
.login_tit_box .desc {text-align:center; margin-top:20px; line-height:28px; font-size:17px; font-weight:300; color:#222;}
.login .login_list {display:inline-block; text-align:center; margin-top:70px}
.login .login_list:after {content:''; clear:both; display:block}
.login .login_list li {float: left}
.login .login_list li+li {margin-left:10px}
.login .login_list li .btn_login {width:238px; height:45px; padding-left:45px; line-height:45px; text-align:center; font-size:15px; background:url(../../images/w/bg/bg_login02.png)}
.login .login_list li .btn_login.naver {background-position:0 0}
.login .login_list li .btn_login.facebook {background-position:0 -47px}
.login .login_list li .btn_login.google {background-position:0 -92px}
.login .join_box {margin-top:90px; text-align:center}
.login .join_box .txt {display:inline-block; font-size:17px; font-weight:300; color:#222}
.login .join_box .link {display:inline-block; margin-left:5px; line-height:24px; font-size:17px; font-weight:400; color:#222; border-bottom:1px solid #222;}
.login .join_box a.link:hover {text-decoration:none}

/* 회원가입 */
.contents.join {width:760px; padding-top:50px}
.join .tab_menu .tab_list {width:100%; margin:0 auto; margin-top:30px}
.join .tab_menu .tab_list li {width:50%; border-bottom:1px solid #ff4200}
.join .tab_menu .tab_list li a {height:60px}
.join .tab_menu .tab_list li.active {border:1px solid #ff4200; border-bottom:0}
.join .join_info {margin:0 auto; margin-top:50px; text-align:center}
.join .join_info.corp ul {background:url(../../images/w/ico/ico_register02.png) no-repeat left center}
.join .join_info ul {display:inline-block; padding-left:80px; background:url(../../images/w/ico/ico_register01.png) no-repeat left center}
.join .join_info ul li {position:relative; padding-left:10px; line-height:28px; text-align:left; font-size:19px; font-weight:300; color:#222; }
.join .join_info ul li:before {content:''; display:block; position:absolute; top:40%; left:0; transform:translateY(50%); width:2px; height:2px; background-color:#777}
.join .join_benefits {width:100%; margin-top:30px; background-color:#f9f9f9}
.join .join_benefits:after {content:''; clear:both; display:block}
.join .join_benefits li {float:left; width:25%; height:120px; margin:15px 0; padding-top:50px; text-align:center; line-height:21px; font-size:15px; color:#222}
.join .join_benefits li+li {border-left:1px solid #ddd}
.join .join_benefits li .emp {font-weight:700}
.join .join_benefits li.benefit01 {background:url(../../images/w/ico/ico_benefits01.png) no-repeat center 10px}
.join .join_benefits li.benefit02 {background:url(../../images/w/ico/ico_benefits02.png) no-repeat center 10px}
.join .join_benefits li.benefit03 {background:url(../../images/w/ico/ico_benefits03.png) no-repeat center 10px}
.join .join_benefits li.benefit04 {background:url(../../images/w/ico/ico_benefits04.png) no-repeat center 10px}
.join .login_list {width:290px; margin:0 auto; margin-top:60px}
.join .login_list li+li {margin-top:10px}
.contents.join_complete {width:855px; margin:0 auto}
.join_complete .btn_row {margin-top:25px}
.join_complete .btn_row .btn_form01 {width:220px}

/* 회원가입 뷰 */
.join .form_wrap {margin-top:30px; padding:50px; padding-bottom:60px; background-color:#f9f9f9}
.join .btn_row {margin-top:40px}
.join .form_row .label_box {padding-left:0}
.join .form_tit .tit {display:inline-block; font-size:22px; font-weight:700; color:#222}
.join .form_row .label_box .tit {font-size:17px}
.join .form_row.chk_row {margin-top:25px}
.join .form_row.chk_row.last {margin-top:50px}
.join .chk_row .chk_box {position:relative; width:100%}
.join .chk_row .chk_box label {position:static; width:auto}
.join .chk_row .chk_box .txt {display:block; margin-top:10px; margin-right:40px; line-height:21px; font-size:15px; color:#777}
.join .chk_row.large label {font-size:19px}
.join .chk_row .tarea_box {display:none; margin-top:20px}
.join .chk_row .tarea_box textarea {height:150px; padding:30px; font-size:14px; line-height:20px; color:#777; border:1px solid #ddd; background-color:#fff}
.join .page_sub_tit {margin-top:60px; margin-bottom:30px; font-weight:400}
.join .form_row.type_tarea01 {padding-top:0}
.join .form_row.type_tarea01 .label_box {padding:0}
.join .form_row.type_tarea01 .tarea_box {margin-left:15%; background-color:#fff}
.join .form_row.type_tarea01 .tarea_box textarea {height:160px; padding:0 10px}
.join .form_row.type_tarea01 .txt_count {right:20px}
.join .form_row.type_info {height:40px}
.join .form_row.type_text01 .input_box {height:60px}

/* faq */
.faq_box {width:100%}
.faq_box ul li {border-bottom:1px solid #e3e3e3}
.faq_box ul li:first-child {border-top:1px solid #e3e3e3}
.faq_box ul li .question {display:block; position:relative; width:100%; min-height:50px; padding:10px 50px}
.faq_box ul li .question:before {content:''; display:block; position:absolute; right:20px; top:22px; width:14px; height:8px; background:url(../../images/w/bg/bg_arrow_big.png) no-repeat 0 -24px}
.faq_box ul li.active .question:before {background-position:0 0}
.faq_box ul li.active .answer {display:block}
.faq_box ul li .question .icon {position:absolute; left:0; top:10px; display:inline-block; width:50px; margin-left:10px; font-family:'Montserrat'; font-size:20px; font-weight:500; color:#222}
.faq_box ul li .question .tit {line-height:1.5em; font-size:17px; font-weight:500; color:#222}
.faq_box ul li .answer {display:none; padding:15px 30px; line-height:26px; font-size:16px; color:#222; border-top:1px solid #e3e3e3; background-color:#fafafa}

/* 문의하기 */
.customer_inquiry .form_wrap .ico_required {top:-30px}
.customer_inquiry .form_row.line {border:none}
.customer_inquiry .form_row .label_box {padding-left:0}
.customer_inquiry .form_row .label_box .tit {display:inline-block}
.customer_inquiry .form_row.type_info {height:40px}
.customer_inquiry .form_row.type_info .label_box {line-height:40px}
.customer_inquiry .form_row.type_text01 {padding-left:0}
.customer_inquiry .form_row.type_text01 .label_box {width:15%}
.customer_inquiry .form_row.type_text01 .input_box {width:85%}
.customer_inquiry .form_row .input_box .desc {padding:13px 0}
.customer_inquiry .form_row .sel_box {display:block}
.customer_inquiry .form_row .sel_box select {background-position:97% center}
.customer_inquiry .form_row.type_tarea01 .label_box {width:15%; padding-left:0}
.customer_inquiry .form_row.type_tarea01 .tarea_box {margin-left:15%}
.customer_inquiry .form_row.type_tarea01 {padding-top:0}
.customer_inquiry .form_row.type_tarea01 textarea {padding-top:15px}
.customer_inquiry .form_row.type_file01 .label_box {width:19%}
.customer_inquiry .form_row.type_file01 .input_box {width:81%}
.customer_inquiry .form_row.type_file01 .input_box input[type="text"] {width:360px}

/* 약관 및 면책조항 */
.customer_policy .text_box+.text_box {margin-top:30px}
.customer_policy .text_box .tit {display:block; font-size:16px; font-weight:500; color:#222}
.customer_policy .text_box .desc {display:block; width:100%; height:350px; margin-top:15px; padding:15px 20px; line-height:30px; font-size:15px; color:#222; border:1px solid #ddd}

.table_box.row_type .select_box {height:30px; line-height:30px; border: 1px solid #b3b3b3}
.table_box.row_type th {font-weight:500}
.table_box.row_type th .thin, .table_box.row_type td .thin {font-weight:300}
.table_box.row_type td {line-height:normal; vertical-align:middle}
.table_box.row_type .inp_txt {width:500px; height:30px}
.table_box.row_type .inp_radio+label {margin-right:30px}

.my_corp_payment .form_wrap {margin-top:0;}
.my_corp_payment .table_box {margin-top:10px}
.my_corp_payment .table_box+.page_sub_tit {margin-top:35px}
.my_corp_payment .form_row.notice {margin-top:10px; margin-left:0}
.my_corp_payment .form_row.notice .txt {font-size:15px}
.my_corp_payment .chk_row {margin-top:35px}
.my_corp_payment .btn_row {margin-top:120px}

.my_corp_payment_complete .page_sub_tit {font-size:22px; margin-top:30px}
.my_corp_payment_complete .table_box {margin-top:20px}
.my_corp_payment_complete .btn_row {margin-top:90px}

/* ICO소개 */
.contents.ico_intro {width:870px; background:url(../../images/w/bg/bg_ico.png) no-repeat right 20px top 156px}
.ico_intro .tit {font-size:33px; font-weight:700; color:#ff4200}
.ico_intro .tit img {width:255px; height:52px; padding-right:10px; vertical-align:bottom}
.ico_intro .sub_tit {margin-top:40px; line-height:42px; font-size:26px; font-weight:300; color:#ff4200}
.ico_intro .desc {margin-top:35px; line-height:39px; font-size:16px; color:#222}
.ico_intro .desc+.desc {margin-top:20px}


/* 부가서비스 신청 */
.my_corp_service_request .radio_row {margin:50px 0 16px 0}
.service_info_box:after {content:''; clear:both; display:block}
.service_box_left {float:left; width:445px; min-height:458px; padding:65px 35px; border-radius:4px; border:1px solid #e3e3e3}
.service_box_left .service_list {padding-top:35px}
.service_info_box .service_list li {position:relative; padding-left:20px; line-height:29px; font-size:17px; color:#777}
.service_info_box .service_list li:before {content:''; position:absolute; left:0; top:50%; width:4px; height:4px; transform:translateY(-50%); border-radius:50%; background-color:#b3b3b3}
.service_box_right {float:right; width:340px; min-height:450px}
.service_info_box .service_tit {line-height:1.3em; font-size:28px; color:#222}
.service_info_box .service_tit .date {font-size:24px}
.service_info_box .service_tit .price {font-family:'Montserrat'; font-weight:700}
.service_box_top {display:table; table-layout:fixed; width:100%; padding:45px 35px; border-radius:4px; border:1px solid #e3e3e3}
.service_box_top:after {content:''; clear:both; display:block}
.service_box_top .service_tit {display:table-cell; width:325px; vertical-align:middle}
.service_box_top .service_list {float:left}
.service_box_bottom {margin-top:20px; background-color:#f9f9f9; padding:30px 0}
.service_box_bottom .card.type03 {width:525px; margin:0 auto}

.service_status {width:100%; min-height:100px; padding:25px; text-align:center; border:1px solid #ddd}
.service_status:after {content:''; clear:both; display:block}
.service_status .tit {display:inline-block; float:left; width:300px; vertical-align:middle; padding:15px 0; text-align:left; font-size:16px; font-weight:500; color:#222}
.service_status .desc {display:inline-block; float:right; max-width:460px; vertical-align:middle; padding:10px 65px; font-size:20px; font-weight:500; color:#ff4200; border:1px solid #ff4200; border-radius:500px}
.service_status .desc+.desc {margin-top:10px}
.service_status .desc .date {padding-left:15px; font-size:17px; font-weight:300}
.service_status .notice {display:inline-block; padding:15px 0; font-size:16px; font-weight:400; color:#222}

/* ico등록 */
.my_sns_info .btn_form01.long {min-width:216px}
.my_sns_info .ico_required {margin-top:30px; font-weight:300}
.my_sns_info .ico_required .desc {margin-top:5px}

/* ico뷰 네티즌평가 */
.my_expert_eval_view .card.ico_summary .card_right .txt_box {width:auto}
.ico_comment .pagenation {margin-top:20px}
.comment_write_box {border:1px solid #ddd} 
.comment_write_box .write_cont {position:relative; padding:20px; padding-left:95px}
.comment_write_box .write_cont:after {content:''; clear:both; display:block}
.comment_write_box .write_score {position:absolute; left:20px; top:50%; transform: translateY(-50%)}
.comment_write_box .write_score select {width:100%; height:100%; padding-right:20px; line-height:50px; font-family:'Montserrat'; font-size:25px; font-weight:700; color:#ff4200; background:url(../../images/w/bg/bg_sel_arrow.png) no-repeat right center}
.comment_write_box .write_textarea {width:100%; height:110px; padding-left:20px; border-left:1px solid #e3e3e3}
.comment_write_box .write_textarea textarea {width:100%; height:100%; font-size:15px; line-height:26px}
.comment_write_box .write_upload {height:35px; text-align:right; border-top:1px solid #f3f3f3}
.comment_write_box .txt_count {line-height:35px; padding:0 10px; color:#777; letter-spacing:0.05em}
.comment_write_box .btn_write {float:right; min-width:85px; height:100%; padding:0 15px; color:#fff; background-color:#ff4200}
.comment_list_wrap {margin-top:70px;}
.comment_list_wrap .list_filter {border-bottom:1px solid #ddd}
.comment_list_wrap .filter_item {padding:0; font-size:15px; color:#777}
.comment_list_wrap .filter_item.active {font-weight:500; color:#222}
.comment_list_wrap .filter_item+.filter_item {margin-left:16px}
.comment_list .card {position:relative; width:100%; padding:30px 0 18px 0; border-bottom:1px solid #eee}
.comment_list .card .thumb {width:75px; height:75px}
.comment_list .card .txt_box:after {content:''; clear:both; display:block}
.comment_list .card .card_right .tit {float:left; display:inline-block; line-height:1.2em; width:auto; vertical-align:middle}
.comment_list .card .card_right .btn_score {float:left; min-width:20px; min-height:auto; margin-right:10px; padding:2px 8px; font-size:16px}
.comment_list .card .card_right .desc {margin-top:5px; line-height:22px; white-space:normal; font-size:16px}
.comment_list .card .card_right .date {display:block; margin-top:5px; font-size:14px; font-weight:400; color:#777; letter-spacing:0em}
.comment_list .card .tit+.btn_like {margin-left:10px}
.comment_list .card .tit+.btn_score {margin-left:10px}
.comment_list .card .card_right .like_box {position:relative; text-align:right; margin-top:15px}
.comment_list .card .like_box .btn_like.left {position:absolute; left:0; top:0}
.comment_list .card .like_box .btn_right .btn_like {padding:2px 8px; border-color:#e3e3e3}
.comment_list .card .like_box .btn_like.active {color:#ff7d50; border-color:#ff7d50}
.recomment_list {background-color:#fafafa}
.recomment_list .recommend_item {padding:30px; padding-left:60px; border-bottom:1px solid #eee; background:url(../../images/w/bg/bg_comment.png) no-repeat left 30px top 30px}
.recomment_list .recommend_item .tit {padding-right:10px; font-size:16px; font-weight:700; vertical-align:middle}
.recomment_list .recommend_item .desc {margin-top:10px; font-size:16px}
.recomment_list .recommend_item .date {display:block; margin-top:10px; font-size:14px; color:#777; letter-spacing:0em}
.recomment_list .recommend_item .like_box {margin-top:20px; text-align:right}
.ico_comment .recomment_list .comment_write_box {margin-top:0; background-color:#fff}
.recomment_list .write_textarea {height:140px; padding:20px; border-left:0}
.recomment_list .comment_write_box .btn_write {color:#ff4420; border-left:1px solid #e3e3e3; background-color:#fff}

/* 전문 마이페이지 ico평가하기 네티즌평가 */
.my_expert_eval_view .pagenation {margin-top:20px}
.my_expert_eval_view .comment_write_box {margin-top:50px}

/* 2018-10-18 ico 리스트 뷰 평가하기 버튼 추가 */
.ico_summary .card_right {position:relative;}
.ico_summary .btn_evaluate {position:absolute; right:0; top:0}
.ico_summary .btn_evaluate .btn_form01 {min-width: 102px; padding: 3px 10px; font-size: 15px}

/* 2018-10-22 회원가입 닉네임 중복체크 추가 */
.form_row .confirm_id.input_box {background-color:#fff}
.form_row:after {content:''; clear:both; display:block}
.form_row .confirm_id.input_box:after {content:''; clear:both; display:block}
.form_row .confirm_id.input_box input[type="text"] {width:69%}
.form_row .confirm_id.input_box .btn_form01 {float:right; height:100%; font-size:18px}
.confirm_id_result {margin-top:10px; padding-left:15%; font-size:16px; color:#ff4200}


/* 2018-10-22 전문 개인정보 수정 닉네임 중복체크 추가 */
.form_row.type_text01 .confirm_id.input_box .txt_limit {right:175px}
.form_row.type_text01 .confirm_id.input_box input[type="text"] {width:65%}